<div id="content-6">
            <div class="deletion  font-sans">
              <p class="text-2xl font-semibold">Account Info</p>
              <p>Name:</p>
              <p>{{loggedUser.firstName}} {{loggedUser.lastName}}</p>
              <p>Email:</p>
              <p>{{loggedUser.email}}</p>
              <p>Username:</p>
              <p>{{loggedUser.username}}</p>
              {{#if (eq loggedUser.verified false)}}
              <p>verified</p>
              {{/if}}
              
              <p class="text-2xl font-semibold mt-2">Account Deletion</p>
              <p class="mt-3 mb-5 font-sans w-2/4">This action is irreversible and will permanently delete all your account data. Please confirm if you wish to proceed.</p>
              <div class="">
                <p class="mb-2 text-sm text-slate-400">to confirm this, type "DELETE"</p>
                <form action="/delete" method="post">
                <input type="text" name="delete" class="bg-slate-800 border-2 border-slate-600 py-2 px-2 rounded-lg outline-none" id="input-delete">
                <button class="ml-1 text-white transition-colors border-2 py-2 px-4 font-sans font-bold rounded-lg tracking-wider disable-btn" id="btn-delete">Delete Account</button>
                </form> 
              </div>
            </div>
          </div>