<p class="my-3">Valid Data Syntax :</p>
            <pre class="language-json flex relative">
              <button
                id="copy-btn"
                class="absolute copyBtn right-5 top-5 border-2 border-teal-400 px-4 rounded-lg hover:bg-teal-400 active:scale-90 transition-transform "
                data-box-id="code-box-2"
                data-code="code2"
              >copy</button>
              <code id="code2">{
  "name": "string",
  "desc": "string",
  "rarity": "number",
  "source": "string",
  "secondaryStat": ["string"],
  "base": "number",
  "subStat": "string",
  "affix": "string",
  "passive": "string",
  "versionRelease": "number",
  "region": "string",
  "family": "string",
  "images": {
    "icon": "string",
    "original": "string",
    "awakened": "string",
    "gacha": "string",
  },
  "wikiUrl": "string"
}
</code>
</pre>
            <p class="my-3">Demo Response :</p>
            <pre class="language-json flex relative">
              <code id="codeBox">{
  "name": "Primordial Jade Winged-Spear",
  "desc": "A jade polearm made by the archons, capable of slaying ancient beasts.",
  "rarity": 5,
  "source": "wish",
  "base": "47.54",
  "subStat": "CRIT Rate",
  "affix": "Eagle Spear of Justice",
  "passive": "On hit, increases ATK by 3.2%/3.9%/4.6%/5.3%/6% for 6s. Max 7 stacks. This effect can only occur once every 0.3s. While in possession of the maximum possible stacks, DMG dealt is increased by 12%/15%/18%/21%/24%.",
  "versionRelease": 1.0,
  "region": "Liyue",
  "family": "Polearm",
  "images": {
    "icon": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/weapon/%25E5%2592%258C%25E7%2592%259E%25E9%25B8%25A2.png",
    "original": "https://upload-static.hoyoverse.com/hoyolab-wiki/2023/06/24/94376896/edf9c94e3b4dd8fbfab0aeb4820ccc47_278966444220345681.png?x-oss-process=image%2Fformat%2Cwebp",
    "awakened": "https://upload-static.hoyoverse.com/hoyolab-wiki/2023/06/24/94376896/3c3939178a2a01c9aae85692dfd69fb7_1300600320564433131.png?x-oss-process=image%2Fformat%2Cwebp",
    "gacha": "https://genshin.honeyhunterworld.com/img/i_n13505_gacha_icon.webp?x76042",
  },
  "wikiUrl": "https://genshin-impact.fandom.com/wiki/Primordial_Jade_Winged-Spear"
}
</code>
</pre>