<div id="content-0">
              <p class="text-center text-lg">Welcome to
                <span class="text-teal-400">FlameForge</span>
                API Dashboard</p>
              <p class="text-center text-sm my-2 font-sans">This API is an
                independent project created by Vedant and is not affiliated with
                or endorsed by miHoYo, the developers of Genshin Impact, or its
                associated entities (collectively referred to as
                "miHoYo/HoYoVerse"). All rights and credits for Genshin Impact,
                including its characters, artwork, and related intellectual
                property, are owned by miHoYo/HoYoVerse. The use of any
                copyrighted material is solely for informative and
                non-commercial purposes.</p>
              <img
                src="/assets/images/xiao-main.png"
                alt="xiao"
                class="mx-auto"
                width="600"
              />
              <div class="my-5 text-red-400">
                <p class="text-lg mb-2">Notes</p>
                <ul class="font-sans list-disc ml-5">
                  <li>Please ensure you select a valid JSON file for upload.</li>
                  <li>Make sure to follow the correct JSON syntax provided.</li>
                  <li>Incorrect JSON syntax can lead to errors, so please double-check your file.</li>
                  <li>It's a good practice to review your JSON file carefully before uploading to avoid any issues.</li>
                </ul>
              </div>
              <h1 class="mb-3 mt-5 text-xl">1. Overview</h1>
              <p class="font-sans">Welcome to the Genshin Impact API dashboard!
                This guideline will help you understand the features and
                functionalities available to enhance your Genshin Impact
                experience.</p>
              <h2 class="mb-3 mt-5 text-xl">2. Dashboard Navigation</h2>
              <ul>
                <li class="mb-2">
                  <h3>Characters:</h3>
                  <p class="font-sans">Access detailed information about Genshin
                    Impact characters.</p>
                </li>
                <li class="mb-2">
                  <h3>Weapons:</h3>
                  <p class="font-sans">Explore the wide range of weapons
                    available in Genshin Impact.</p>
                </li>
                <li class="mb-2">
                  <h3>Artifacts:</h3>
                  <p class="font-sans">View and analyze various artifacts used
                    in the game.</p>
                </li>
              </ul>

              <h2 class="mb-3 mt-5 text-xl">3. Accessing Data</h2>
              <ul>
                <li class="mb-2">
                  <h3>Search:</h3>
                  <p class="font-sans">Search for specific characters, weapons,
                    or artifacts.</p>
                </li>
                <li class="mb-2">
                  <h3>Filter and Sort:</h3>
                  <p class="font-sans">Customize the display by applying filters
                    and sorting options.</p>
                </li>
              </ul>
              <h2 class="mb-3 mt-5 text-xl">4. Usage Guidelines</h2>
              <ul>
                <li class="mb-2">
                  <h3>Non-commercial Use:</h3>
                  <p class="font-sans">Use the API and its data for
                    non-commercial purposes only.</p>
                </li>
                <li>
                  <h3>Feedback:</h3>
                  <p class="font-sans">We welcome your feedback to improve and
                    enhance the API. Feel free to share your suggestions and
                    report any issues.</p>
                </li>
              </ul>
            </div>