<div class="logout-modal-mob modal z-50 poppins" id="modal">
      <div class="rounded-lg modal-card bg-slate-700 text-white w-80 p-4">
        <p class="text-2xl mb-5 font-semibold">Are you sure?</p>
        <div class="flex justify-center font-semibold">
          <button id="btn-modal-close" class="px-2 py-2 w-full rounded-lg bg-teal-500 hover:bg-teal-600 mr-2 transition-colors">Cancel</button>
          <form class="w-full" action="dashboard/logout">
        <button type="submit" id="btn-modal-logout" class="w-full px-2 py-2 rounded-lg bg-red-400 hover:bg-red-500 transition-colors">Log Out</button>
          </form>
        </div>
      </div>
    </div>