<div class="sidebar-top box-border">
  <div class="card flex items-center w-full rounded-full py-2 px-4 mt-3 relative">
    <div class="overlay absolute top-0 left-0 right-0 bottom-0 bg-black opacity-20 z-0 rounded-full"></div>
    <div class="pfp z-10">
      <div class="rounded-full bg-teal-700 border-white border-4 border-solid">
        <img src="assets/images/pfp/xiao.webp" alt="profile-pic" width="75" height="75" class="rounded-full" />
      </div>
    </div>
    <div class="info ml-4 text-white z-10">
      {{#if user}}
      <p class="text-xl">{{user}}</p>
      {{/if}}
      {{#if role}}
      <p class="desc text-sm mt-1 font-thin">{{role}}</p>
      {{/if}}
    </div>
  </div>
  <ul class="flex flex-col items-center">
    <li class="w-full mt-4"><button
        class="flex items-center hover:bg-slate-700 rounded-full text-teal-100 py-4 px-4 w-full transition-colors text-left"
        id="nav-1"><img src="/assets/images/ult.png" alt="ultimate" class="mr-2" width="40" />Characters</button></li>
    <li class="w-full mt-4"><button
        class="flex items-center hover:bg-slate-700 rounded-full text-teal-100 py-4 px-4 w-full transition-colors text-left"
        id="nav-2"><img src="/assets/images/skill.png" alt="ultimate" class="mr-2" width="40" />Weapons</button></li>
    <li class="w-full mt-4"><button
        class="flex items-center hover:bg-slate-700 rounded-full text-teal-100 py-4 px-4 w-full transition-colors text-left"
        id="nav-3"><img src="/assets/images/NA.png" alt="ultimate" class="mr-2" width="40" />Artifacts</button></li>
    {{#if (eq role 'admin')}}
    <li class="w-full mt-4"><button
        class="flex items-center hover:bg-slate-700 rounded-full text-teal-100 py-4 px-4 w-full transition-colors text-left"
        id="nav-4"><img src="/assets/images/dawn.png" alt="ultimate" class="mr-2" width="40" />Admin Control</button>
    </li>
    {{/if}}
    {{#if (eq role 'user')}}
    <li class="w-full mt-4"><button
        class="items-center hover:bg-slate-700 rounded-full text-teal-100 py-4 px-4 w-full transition-colors text-left hidden"
        id="nav-4"></button></li>
    {{/if}}
  </ul>

</div>
<div>

  <ul class="flex mb-0 justify-evenly">
    <li><button class="btn flex p-4 rounded-full text-teal-500 hover:text-teal-200 hover:bg-slate-700 transition-colors"
        id="nav-0"><span class="material-symbols-outlined">home</span></button></li>
    <li><button class="btn flex p-4 rounded-full text-teal-500 hover:text-teal-200 hover:bg-slate-700 transition-colors"
        id="nav-5"><span class="material-symbols-outlined">people</span></button></li>
    <li><button class="btn flex p-4 rounded-full text-teal-500 hover:text-teal-200 hover:bg-slate-700 transition-colors"
        id="nav-6"><span class="material-symbols-outlined">settings</span></button></li>
    <li><button id="nav-logout"
        class="btn flex p-4 rounded-full text-teal-500 hover:text-teal-200 hover:bg-slate-700 transition-colors"><span
          class="material-symbols-outlined">logout</span></button></li>
  </ul>
    {{> version}}
</div>