<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="absolute not-found-container poppins flex flex-col justify-center iteme bg-slate-900 px-5 py-10 w-11/12 sm:w-96">
    <p class="text-teal-400 text-6xl font-bold">401!</p>
    <p class="text-white text-2xl my-2 font-semibold">Unauthorized!</p>
    <p class="text-gray-400 w-full">Outlanders, your journey ends here. The arrogation of mankind ends now.</p>
    </div>
</body>
</html>