<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="absolute not-found-container poppins flex flex-col justify-center iteme bg-slate-900 px-5 py-10">
    <p class="text-teal-400 text-6xl font-bold">404!</p>
    <p class="text-white text-2xl my-2 font-semibold">Not Found!</p>
    <p class="text-gray-400 w-80">Uh-oh, Traveler! It seems you've stumbled into the Abyss. Fear not, for your journey can resume with a simple click! Venture back to the Teyvat.</p>
    <a class="text-gray-900 bg-teal-400 p-3 text-center mt-4 hover:bg-teal-500 transition-colors" href="dashboard/">Teleport back to Teyvat</a>
    </div>
</body>
</html>