<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="absolute not-found-container poppins flex flex-col justify-center iteme bg-slate-900 px-5 py-10">
    <p class="text-teal-400 text-6xl font-bold">500!</p>
    <p class="text-white text-2xl my-2 font-semibold">Internal Server Error!</p>
    <p class="text-gray-400 w-80">Oops! It seems our server is facing a Ley Line Disruption. Our adepti developers are working hard to dispel the chaos. If the issue persists, kindly <a class="text-teal-500" href="/report-error">report it</a>, and we'll swiftly restore the balance in Teyvat!</p>
    </div>
</body>
</html>