<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{desc}}" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
     
    </style>
  </head>
  <body>
    <div id="alertBox" class="alertBox text-white bg-teal-500 px-2 py-2 rounded-lg transition-all duration-300 z-40"></div>
    {{> logoutModal}}
    <div class="bg-slate-800 fixed top-0 left-0 bottom-0 right-0 z-50 flex justify-center items-center" id="loader">
      <span class="loader"></span>
    </div>
    <div class="h-screen flex justify-end">
      <div class="sidebar bg-slate-800 fixed top-0 left-0 h-full w-1/5 p-2 border-gray-600 border-r-2 border-solid flex flex-col justify-between">
{{> sidebar}}
      </div>
      <div
        class="main 1/4 w-4/5 overflow-y-auto px-10 py-10 bg-slate-800 text-white" id="content">
        <div class="w-3/4 mx-auto overflow-hidden">
          <p class="text-3xl mb-5" id="heading"></p>
          <div id="content-data" class="mt-2">
          {{> homeContent}}

{{> characterContent}}
          
{{> weaponContent}}

{{> artifactContent}}
          
          {{> adminControl}}

          {{> peopleContent}}
          
          {{> accountContent}}
        </div>

      </div>
      {{#if messages.success}}
      <script>
        window.addEventListener('load', function () {
          showAlertBox('{{messages.success}}')
        })
      </script>
      {{/if}}
    </div>
    <script defer type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
