<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{desc}}">
    <title>{{title}}</title>
</head>
<body>
<nav>
</nav>
    <div class="bg-red-300 h-screen">Dashboards</div>
</body>
</html>