<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{!-- <link rel="stylesheet" href="/css/style.css" /> --}}
  {{!-- <link rel="stylesheet" href="/css/main.css" /> --}}
  <title>{{character.name}}</title>
</head>

<body class="bg-slate-800">
  <div class="w-10/12 container p-4 mx-auto bg-slate-800">
    {{> pageEditCharacter/formMain}}
    <form class="editForm text-white" action="" method="POST">
      <div class="flex flex-col items-start">
        {{> pageEditCharacter/formTop}}

        <label for="desc" class="myFont mt-3 text-lg">Description</label>
        <input type="text" name="desc" id="desc" value="{{character.desc}}" class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" required />      

        {{> pageEditCharacter/vision}}
        {{> pageEditCharacter/weaponType}}
        {{> pageEditCharacter/region}}
        {{> pageEditCharacter/images-link}}
        {{> pageEditCharacter/images}}

      </div>
  </form>
        <div class="w-full flex gap-2 mt-5 text-white poppins">
        <button id="cancelBtn" class="w-full btn py-3 px-6 border-4 border-red-400 rounded-2xl hover:bg-red-400 mt-3 font-regular transition-colors ease-linear font-semibold">Cancel</button>
        <button type="submit" id="login" class="w-full btn py-3 px-6 border-4 border-teal-400 rounded-2xl hover:bg-teal-400 mt-3 font-regular transition-colors ease-linear font-semibold">Save</button>
        </div>
  </div>
</body>

</html>