<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="absolute not-found-container poppins flex flex-col justify-center iteme bg-slate-900 px-5 py-10">
        <p class="text-teal-400 text-6xl"><img width="50" src="/assets/images/email_verified.svg" alt="">
        </p>
        <p class="text-white text-2xl my-2 font-semibold">Verification Completed!</p>
        <p class="text-gray-400 w-80">Congratulations! Your email {{email}} has been successfully verified.
            please, <a class="underline text-teal-500" href="/sign-in">Login</a> to Continue
        </p>
    </div>
</body>

</html>