<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="absolute not-found-container poppins flex flex-col justify-center iteme bg-slate-900 px-5 py-10">
        <p class="text-teal-400 text-6xl"><img width="50" src="/assets/images/email_sent.svg" alt="">
        </p>
        <p class="text-white text-2xl my-2 font-semibold">Email Sent Successffuly!</p>
        <p class="text-gray-400 w-80">Thank you for signing up! We've sent an email to <span class="text-teal-500 underline">{{email}}</span> with a
            verification link. Please check your inbox and click the link to complete the registration process.</p>
    </div>
</body>

</html>