<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="font h-96 text-xl bg-teal-100 flex w-9/12">
    <form action="" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" required>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>
        <button type="submit" class="btn">Register</button>
        <button disabled="disabled" class="bg-teal-800">ss</button>
    </form>
</div>
<h1 class="text-3xl font-bold underline text-red-300 bg-500 my-100 bg-teal-500">
    Hello world!
</h1>
</body>
</html>
