<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body class="bg-red-400">
    <div class="main-container flex poppins">
        <div id="sidebar" class="w-1/5 fixed top-0 left-0 bottom-0 bg-gray-200 border-r-2 border-slate-400">
            <p class="title text-center">FlameForge API</p>

            <ul>
                <li>Characters</li>
            </ul>
        </div>

    </div>
</body>

</html>