<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-container flex">
        <div id="sidebar" class="w-1/5 fixed top-0 left-0 bottom-0 bg-blue-400">
            
        </div>

        <div id="content-container" class="w-4/5 overflow-y-auto fixed right-0 top-0 bottom-0 bg-yellow-500">
    test
        </div>
    </div>
</body>
</html>