<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-container flex poppins text-sm main-homepage">

        <nav class="md:hidden fixed top-0 left-0 right-0 bg-gray-800 z-40 flex justify-between items-center p-4">
            <p class="text-emerald-300 text-2xl font-semibold">FlameForge</p>
            <button id="hamburger-btn"><span
                    class="material-symbols-outlined text-3xl text-gray-300">menu</span></button>
        </nav>

        <div id="sidebar"
            class="hidden md:flex w-full md:w-1/6 flex-col fixed top-0 left-0 bottom-0 bg-gray-200 py-4 z-50 box-border">

            {{!-- <div>

                <div class="flex justify-evenly items-center bg-gray-800 mx-2 p-4 rounded-t-lg">
                    <div class="text-center">
                        <p class="title text-2xl text-emerald-300 font-semibold">FlameForge API</p>
                        <p class="text-xs text-gray-200 mt-1">Unleash the Genshin Impact API (unofficial)</p>
                    </div>
                </div>
                <ul class="mx-2 p-4 bg-gray-900 rounded-b-lg text-white overflow-y-auto relative">
                    <li class="mt-2 font-semibold uppercase text-xl border-b-2 border-emerald-300 text-emerald-300">
                        Characters</li>
                    <ul>
                        <li class="my-3 ml-4"><a class="hover:text-emerald-300 nav-links flex items-center"
                                href="#fetch-single-character"><span
                                    class="material-symbols-outlined">keyboard_arrow_right</span>Fetch
                                Single Character</a></li>
                        <li class="my-2 ml-4"><a class="hover:text-emerald-300 nav-links flex items-center"
                                href="#fetch-all-characters"><span
                                    class="material-symbols-outlined">keyboard_arrow_right</span>Fetch All
                                Characters</a></li>
                    </ul>

                    <li class="mt-6 font-semibold uppercase text-xl  border-b-2 border-emerald-300 text-emerald-300">
                        Weapons</li>
                    <ul>
                        <li class="my-3 ml-4"><a class="hover:text-emerald-300 nav-links flex items-center"
                                href="#fetch-single-weapon"><span
                                    class="material-symbols-outlined">keyboard_arrow_right</span>Fetch Single
                                Weapon</a></li>
                        <li class="my-2 ml-4"><a class="hover:text-emerald-300 nav-links flex items-center"
                                href="#fetch-all-weapons"><span
                                    class="material-symbols-outlined">keyboard_arrow_right</span>Fetch All
                                Weapons</a></li>
                    </ul>

                    <li class="mt-6 font-semibold uppercase text-xl border-b-2 border-emerald-300 text-emerald-300">
                        Artifacts</li>
                    <ul>
                        <li class="my-3 ml-4"><a class="hover:text-emerald-300 nav-links flex items-center"
                                href="#fetch-single-artifact"><span
                                    class="material-symbols-outlined">keyboard_arrow_right</span>Fetch
                                Single Artifact</a></li>
                        <li class="my-2 ml-4"><a class="hover:text-emerald-300 nav-links flex items-center"
                                href="#fetch-all-artifacts"><span
                                    class="material-symbols-outlined">keyboard_arrow_right</span>Fetch All
                                Artifacts</a></li>
                    </ul>
                </ul>
            </div> --}}

            <ul class="bg-gray-300 mx-2 p-2 rounded-lg text-gray-600">
                <ul>

                    <li class="my-3 ml-4"><a class="hover:text-gray-800 flex items-center" href="#"><i
                                class="fas fa-wrench mr-2 text-lg"></i>Dashboard Program</a></li>
                    <li class="my-3 ml-4"><a class="hover:text-gray-800" href="#"><i
                                class="fab fa-github mr-2 text-lg"></i>Github</a></li>
                </ul>
                {{!-- <div> --}}
                    <p class="text-slate-500 poppins text-xs text-center py-4">v1.0.0 ~ FlameForge API</p>
                    {{!--
                </div> --}}
            </ul>
            <button id="hamburger-btn-close"
                class="mt-2 mb-2 bg-gray-800 flex md:hidden p-2 rounded-lg text-emerald-300 fixed right-10 bottom-10 nav-links"><span
                    class="material-symbols-outlined">cancel</span></button>

        </div>

        <div id="content"
            class="1/6 md:w-5/6 fixed left-0 md:left-auto top-0 bottom-0 right-0 bg-gray-200 overflow-y-auto py-4 mt-16 md:mt-0">

            <div class="content-container w-full md:w-3/5 px-4 mx-auto">

            <h2 id="character" class="text-2xl font-semibold text-slate-700 mb-2">FlameForge API</h2>
            <p class="text-sm">This API is an independent project and is not officially endorsed by Hoyoverse
                    for Genshin Impact. All copyrights for images and data belong to Hoyoverse.</p>

            <h2 id="json-notes" class="font-semibold text-lg text-slate-700 mt-5 mb-2">JSON Notes</h2>
            <p>
                <ul class="ml-5 list-disc">
                    <li class="mb-3">Any property (except arrays or objects) whose value does not exist or undetermined, will be <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1" >-</span></li>
                    <li>Any <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1" >baseSubStat</span> property whose value does not exist or undetermined, will be <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1" >0</span></li>
                </ul>
            </p>

            <h2 id="root-url" class="font-semibold text-lg text-slate-700 mt-5 mb-2">Root URL</h2>
                <pre class="language-http"><code class="bg-slate-500">http://localhost:4000</code></pre>
                <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
                    role="alert">
                    <div class="flex">
                        <div class="py-1">
                            <svg class="fill-current h-6 w-6 text-teal-500 mr-4"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path
                                    d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                            </svg>
                            </div>
                        <div class="flex my-auto">
                            <p class="text-md text-md">The <span class="font-bold">'infoSize=full'</span> parameter is
                                optional. If provided, it will return additional data.</p>
                        </div>
                    </div>
                </div>

                {{!-- <h2 id="character" class="text-2xl font-semibold text-slate-700 my-5 mb-2">Characters</h2> --}}
                <div id="fetch-random-chracter">
                <h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch Random Character</h2>
                
                {{!-- <p class="bg-emerald-300">GET</p> --}}
                <div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>

                <pre class="language-http"><code>http://localhost:4000/character</code></pre>
                

                <p class="text-lg text-slate-700 mt-5">Payload:</p>

                <div class="router-container w-full overflow-hidden">
                    <pre class="language-json w-full flex relative"><code class="bg-slate-500">{
    "name": "Kaeya",
    "desc": "An accomplished swordsman and a strategic thinker in the Knights of Favonius, rumored to hail from beyond Mondstadt.",
    "rarity": 4,
    "vision": "Cryo",
    "weapon": "Sword",
    "region": [
        "Mondstadt"
    ],
    "images": {
        "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703759781/FlameForge/characters/character1703759786700.webp"
    }
}</code></pre>
<p class="text-lg text-slate-700 mt-5">additional data :</p=>
                    <pre
                        class="language-http w-full"><code class="bg-slate-500">http://localhost:4000/character?infoSize=full</code></pre>
<p class="text-lg text-slate-700 mt-5">Payload :</p>
                    <pre class="language-json"><code class="bg-slate-500">{
    "name": "Kaeya",
    "desc": "An accomplished swordsman and a strategic thinker in the Knights of Favonius, rumored to hail from beyond Mondstadt.",
    "rarity": 4,
    "vision": "Cryo",
    "weapon": "Sword",
    "versionRelease": 1,
    "birthday": "11/30",
    "title": [
        "Frostwind Swordsman"
    ],
    "constellation": "Pavo Ocellus",
    "region": [
        "Mondstadt"
    ],
    "affiliation": [
        "Knights of Favonius"
    ],
    "images": {
        "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703759781/FlameForge/characters/character1703759786700.webp",
        "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703759759/FlameForge/characters/character1703759763740.png",
        "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703759769/FlameForge/characters/character1703759774869.jpg"
    },
    "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/9"
}</code></pre>
</div>

<div id="fetch-character-by-name">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch Single Character by Name</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/character?name=diluc</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">{
    "name": "Diluc",
    "images": {
        "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703522202/FlameForge/characters/character1703522222447.webp"
    },
    "desc": "The tycoon of a winery empire in Mondstadt, unmatched in every possible way.",
    "rarity": 5,
    "vision": "Pyro",
    "weapon": "Claymore",
    "region": [
        "Mondstadt"
    ]
}</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/character?name=diluc&infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">{
    "name": "Diluc",
    "images": {
        "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703522202/FlameForge/characters/character1703522222447.webp",
        "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703522178/FlameForge/characters/character1703522198754.png",
        "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703522191/FlameForge/characters/character1703522210301.jpg"
    },
    "desc": "The tycoon of a winery empire in Mondstadt, unmatched in every possible way.",
    "rarity": 5,
    "vision": "Pyro",
    "weapon": "Claymore",
    "versionRelease": 1,
    "birthday": "4/30",
    "title": [
        "The Dark Side of Dawn"
    ],
    "constellation": "Noctua",
    "region": [
        "Mondstadt"
    ],
    "affiliation": [
        "Dawn Winery"
    ],
    "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/43"
}</code></pre>
</div>

<div id="fetch-all-characters">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch All Characters</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/characters</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Hu Tao",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323137/FlameForge/characters/character1703323151591.webp"
        },
        "desc": "The 77th Director of the Wangsheng Funeral Parlor. She took over the business at a rather young age.",
        "rarity": 5,
        "vision": "Pyro",
        "weapon": "Polearm",
        "region": [
            "Liyue Harbor"
        ]
    },
    {
        "name": "Navia",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323303/FlameForge/characters/character1703323317960.png"
        },
        "desc": "The current President of Spina di Rosula, who is lovely, dutiful, and a great boss.",
        "rarity": 5,
        "vision": "Geo",
        "weapon": "Claymore",
        "region": [
            "Fontaine"
        ]
    },
    ...
]</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/characters?infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Hu Tao",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323137/FlameForge/characters/character1703323151591.webp",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323085/FlameForge/characters/character1703323099591.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323110/FlameForge/characters/character1703323123613.jpg"
        },
        "desc": "The 77th Director of the Wangsheng Funeral Parlor. She took over the business at a rather young age.",
        "rarity": 5,
        "vision": "Pyro",
        "weapon": "Polearm",
        "versionRelease": 1.3,
        "birthday": "7/15",
        "title": [
            "Fragrance in Thaw"
        ],
        "constellation": "Papilio Charontis",
        "region": [
            "Liyue Harbor"
        ],
        "affiliation": [
            "Wangsheng Funeral Parlor"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/34"
    },
    {
        "name": "Navia",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323303/FlameForge/characters/character1703323317960.png",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323231/FlameForge/characters/character1703323244487.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323251/FlameForge/characters/character1703323263473.png"
        },
        "desc": "The current President of Spina di Rosula, who is lovely, dutiful, and a great boss.",
        "rarity": 5,
        "vision": "Geo",
        "weapon": "Claymore",
        "versionRelease": 4.3,
        "birthday": "8/16",
        "title": [
            "Helm of the Radiant Rose"
        ],
        "constellation": "Rosa Multiflora",
        "region": [
            "Fontaine"
        ],
        "affiliation": [
            "Spina di Rosula"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/4576"
    },
    ...
]</code></pre>
</div>

<div id="fetch-all-characters-by-vision">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch All Characters by Vision</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/characters?vision=pyro</code></pre>
    <p class="mt-2 leading-relaxed">Accepted vision values are 
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">pyro</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">hydro</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">anemo</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">electro</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">dendro</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">cryo</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">geo</span> .
    </p>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Hu Tao",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323137/FlameForge/characters/character1703323151591.webp"
        },
        "desc": "The 77th Director of the Wangsheng Funeral Parlor. She took over the business at a rather young age.",
        "rarity": 5,
        "vision": "Pyro",
        "weapon": "Polearm",
        "region": [
            "Liyue Harbor"
        ]
    },
    {
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703324479/FlameForge/characters/character1703324493504.webp"
        },
        "name": "Lyney",
        "desc": "A famed Fontainian magician who possesses great stage presence as well as gift of the gab. Audiences are enthralled by his exquisite skills, and they hang on to his every clever word.",
        "rarity": 5,
        "vision": "Pyro",
        "weapon": "Bow",
        "region": [
            "Fontaine"
        ]
    },
    ...
]</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/characters?vision=pyro&infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Hu Tao",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323137/FlameForge/characters/character1703323151591.webp",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323085/FlameForge/characters/character1703323099591.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323110/FlameForge/characters/character1703323123613.jpg"
        },
        "desc": "The 77th Director of the Wangsheng Funeral Parlor. She took over the business at a rather young age.",
        "rarity": 5,
        "vision": "Pyro",
        "weapon": "Polearm",
        "versionRelease": 1.3,
        "birthday": "7/15",
        "title": [
            "Fragrance in Thaw"
        ],
        "constellation": "Papilio Charontis",
        "region": [
            "Liyue Harbor"
        ],
        "affiliation": [
            "Wangsheng Funeral Parlor"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/34"
    },
    {
        "name": "Lyney",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703324479/FlameForge/characters/character1703324493504.webp",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703324448/FlameForge/characters/character1703324461198.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703324460/FlameForge/characters/character1703324474409.png"
        },
        "desc": "A famed Fontainian magician who possesses great stage presence as well as gift of the gab. Audiences are enthralled by his exquisite skills, and they hang on to his every clever word.",
        "rarity": 5,
        "vision": "Pyro",
        "weapon": "Bow",
        "versionRelease": 4,
        "birthday": "2/2",
        "title": [
            "Spectacle of Phantasmagoria"
        ],
        "constellation": "Felis Fuscus",
        "region": [
            "Fontaine"
        ],
        "affiliation": [
            "Hotel Bouffes d'ete"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/3963"
    },
    ...
]</code></pre>
</div>

<div id="fetch-all-characters-by-region">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch All Characters by Region</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/characters?region=liyue-harbor</code></pre>
    <p class="mt-2 leading-relaxed">Accepted region values are 
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">mondstadt</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">liyue-harbor</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">inazuma-city</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">sumeru</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">fontaine</span>
    </p>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Xiangling",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703521473/FlameForge/characters/character1703521492859.webp"
        },
        "desc": "A renowned chef from Liyue. She's extremely passionate about cooking and excels at making her signature hot and spicy dishes.",
        "rarity": 4,
        "vision": "Pyro",
        "weapon": "Polearm",
        "region": [
            "Liyue Harbor"
        ]
    },
    {
        "name": "Zhongli",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703521830/FlameForge/characters/character1703521849873.webp"
        },
        "desc": "A mysterious expert contracted by the Wangsheng Funeral Parlor. Extremely knowledgeable in all things.",
        "rarity": 5,
        "vision": "Geo",
        "weapon": "Polearm",
        "region": [
            "Liyue Harbor"
        ]
    },
    ...
]</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/characters?region=liyue-harbor&infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Xiangling",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703521473/FlameForge/characters/character1703521492859.webp",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703521432/FlameForge/characters/character1703521452642.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703521452/FlameForge/characters/character1703521472395.jpg"
        },
        "desc": "A renowned chef from Liyue. She's extremely passionate about cooking and excels at making her signature hot and spicy dishes.",
        "rarity": 4,
        "vision": "Pyro",
        "weapon": "Polearm",
        "versionRelease": 1,
        "birthday": "11/2",
        "title": [
            "Exquisite Delicacy"
        ],
        "constellation": "Trulla",
        "region": [
            "Liyue Harbor"
        ],
        "affiliation": [
            "Wanmin Restaurant"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/50"
    },
    {
        "name": "Zhongli",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703521830/FlameForge/characters/character1703521849873.webp",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703521805/FlameForge/characters/character1703521823833.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703521816/FlameForge/characters/character1703521834991.png"
        },
        "desc": "A mysterious expert contracted by the Wangsheng Funeral Parlor. Extremely knowledgeable in all things.",
        "rarity": 5,
        "vision": "Geo",
        "weapon": "Polearm",
        "versionRelease": 1.1,
        "birthday": "12/31",
        "title": [
            "Vago Mundo"
        ],
        "constellation": "Lapis Dei",
        "region": [
            "Liyue Harbor"
        ],
        "affiliation": [
            "Liyue Harbor"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/46"
    },
    ...
]</code></pre>
</div>


<div id="fetch-all-characters-by-rarity">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch All Characters by Rarity</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/characters?rarity=5</code></pre>
    <p class="mt-2 leading-relaxed">Accepted region values are 
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">4</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">5</span> ,
    </p>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Hu Tao",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323137/FlameForge/characters/character1703323151591.webp"
        },
        "desc": "The 77th Director of the Wangsheng Funeral Parlor. She took over the business at a rather young age.",
        "rarity": 5,
        "vision": "Pyro",
        "weapon": "Polearm",
        "region": [
            "Liyue Harbor"
        ]
    },
    {
        "name": "Navia",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323303/FlameForge/characters/character1703323317960.png"
        },
        "desc": "The current President of Spina di Rosula, who is lovely, dutiful, and a great boss.",
        "rarity": 5,
        "vision": "Geo",
        "weapon": "Claymore",
        "region": [
            "Fontaine"
        ]
    },
    ...
]</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/characters?rarity=5&infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Hu Tao",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323137/FlameForge/characters/character1703323151591.webp",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323085/FlameForge/characters/character1703323099591.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323110/FlameForge/characters/character1703323123613.jpg"
        },
        "desc": "The 77th Director of the Wangsheng Funeral Parlor. She took over the business at a rather young age.",
        "rarity": 5,
        "vision": "Pyro",
        "weapon": "Polearm",
        "versionRelease": 1.3,
        "birthday": "7/15",
        "title": [
            "Fragrance in Thaw"
        ],
        "constellation": "Papilio Charontis",
        "region": [
            "Liyue Harbor"
        ],
        "affiliation": [
            "Wangsheng Funeral Parlor"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/34"
    },
    {
        "name": "Navia",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323303/FlameForge/characters/character1703323317960.png",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323231/FlameForge/characters/character1703323244487.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323251/FlameForge/characters/character1703323263473.png"
        },
        "desc": "The current President of Spina di Rosula, who is lovely, dutiful, and a great boss.",
        "rarity": 5,
        "vision": "Geo",
        "weapon": "Claymore",
        "versionRelease": 4.3,
        "birthday": "8/16",
        "title": [
            "Helm of the Radiant Rose"
        ],
        "constellation": "Rosa Multiflora",
        "region": [
            "Fontaine"
        ],
        "affiliation": [
            "Spina di Rosula"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/4576"
    },
    ...
]</code></pre>
</div>


<div id="fetch-all-characters-by-weapon-type">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch All Characters by Weapon Type</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/characters?weapon=claymore</code></pre>
    <p class="mt-2 leading-relaxed">Accepted weapon types are 
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">sword</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">claymore</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">polearm</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">bow</span> ,
    <span class="border-gray-300 border-2 text-emerald-700 rounded-sm px-1 font-mono">catalyst</span> ,
    </p>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Navia",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323303/FlameForge/characters/character1703323317960.png"
        },
        "desc": "The current President of Spina di Rosula, who is lovely, dutiful, and a great boss.",
        "rarity": 5,
        "vision": "Geo",
        "weapon": "Claymore",
        "region": [
            "Fontaine"
        ]
    },
    {
        "name": "Freminet",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703324407/FlameForge/characters/character1703324421860.webp"
        },
        "desc": "A reserved young man who is well-versed in diving. Beneath his distant, icy demeanor lies a pure heart bereft of all flaws.",
        "rarity": 4,
        "vision": "Cryo",
        "weapon": "Claymore",
        "region": [
            "Fontaine"
        ]
    },
    ...
]</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/characters?weapon=claymore&infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Navia",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323303/FlameForge/characters/character1703323317960.png",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323231/FlameForge/characters/character1703323244487.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703323251/FlameForge/characters/character1703323263473.png"
        },
        "desc": "The current President of Spina di Rosula, who is lovely, dutiful, and a great boss.",
        "rarity": 5,
        "vision": "Geo",
        "weapon": "Claymore",
        "versionRelease": 4.3,
        "birthday": "8/16",
        "title": [
            "Helm of the Radiant Rose"
        ],
        "constellation": "Rosa Multiflora",
        "region": [
            "Fontaine"
        ],
        "affiliation": [
            "Spina di Rosula"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/4576"
    },
    {
        "name": "Freminet",
        "images": {
            "profile": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703324407/FlameForge/characters/character1703324421860.webp",
            "gacha": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703324368/FlameForge/characters/character1703324382377.png",
            "card": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703324384/FlameForge/characters/character1703324394296.png"
        },
        "desc": "A reserved young man who is well-versed in diving. Beneath his distant, icy demeanor lies a pure heart bereft of all flaws.",
        "rarity": 4,
        "vision": "Cryo",
        "weapon": "Claymore",
        "versionRelease": 4,
        "birthday": "9/24",
        "title": [
            "Yearning for Unseen Depths"
        ],
        "constellation": "Automaton",
        "region": [
            "Fontaine"
        ],
        "affiliation": [
            "Hotel Bouffes d'ete"
        ],
        "wikiUrl": "https://wiki.hoyolab.com/pc/genshin/entry/3964"
    },
    ...
]</code></pre>
</div>

<div id="fetch-random-artifact">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch Random Artifact</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/artifact</code></pre>
    
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">{
    "name": "Pale Flame",
    "effect": {
        "twoPc": "Physical DMG is increased by 25%.",
        "fourPc": "When an Elemental Skill hits an opponent, ATK is increased by 9% for 7s. This effect stacks up to 2 times and can be triggered once every 0.3s. Once 2 stacks are reached, the 2-set effect is increased by 100%."
    },
    "fullSet": {
        "flower": {
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792655/FlameForge/artifacts/artifact1703792661485.webp"
        }
    }
}</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/artifact?infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">{
    "name": "Pale Flame",
    "effect": {
        "twoPc": "Physical DMG is increased by 25%.",
        "fourPc": "When an Elemental Skill hits an opponent, ATK is increased by 9% for 7s. This effect stacks up to 2 times and can be triggered once every 0.3s. Once 2 stacks are reached, the 2-set effect is increased by 100%."
    },
    "fullSet": {
        "flower": {
            "title": "Stainless Bloom",
            "piece": "Flower of Life",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792655/FlameForge/artifacts/artifact1703792661485.webp"
        },
        "sands": {
            "title": "Moment of Cessation",
            "piece": "Sands of Eon",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792645/FlameForge/artifacts/artifact1703792651027.webp"
        },
        "plume": {
            "title": "Wise Doctor's Pinion",
            "piece": "Plume of Death",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792635/FlameForge/artifacts/artifact1703792641671.webp"
        },
        "circlet": {
            "title": "Mocking Mask",
            "piece": "Circlet of Logos",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792625/FlameForge/artifacts/artifact1703792631937.webp"
        },
        "goblet": {
            "title": "Surpassing Cup",
            "piece": "Goblet of Eonothem",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792613/FlameForge/artifacts/artifact1703792620245.webp"
        }
    }
}</code></pre>
</div>

<div id="fetch-artifact-by-name">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch Artifact by Name</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/artifact?name=pale-flame</code></pre>
    
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">{
    "name": "Pale Flame",
    "effect": {
        "twoPc": "Physical DMG is increased by 25%.",
        "fourPc": "When an Elemental Skill hits an opponent, ATK is increased by 9% for 7s. This effect stacks up to 2 times and can be triggered once every 0.3s. Once 2 stacks are reached, the 2-set effect is increased by 100%."
    },
    "fullSet": {
        "flower": {
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792655/FlameForge/artifacts/artifact1703792661485.webp"
        }
    },
}</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/artifact?name=pale-flame?infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">{
    "name": "Pale Flame",
    "effect": {
        "twoPc": "Physical DMG is increased by 25%.",
        "fourPc": "When an Elemental Skill hits an opponent, ATK is increased by 9% for 7s. This effect stacks up to 2 times and can be triggered once every 0.3s. Once 2 stacks are reached, the 2-set effect is increased by 100%."
    },
    "fullSet": {
        "flower": {
            "title": "Stainless Bloom",
            "piece": "Flower of Life",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792655/FlameForge/artifacts/artifact1703792661485.webp"
        },
        "sands": {
            "title": "Moment of Cessation",
            "piece": "Sands of Eon",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792645/FlameForge/artifacts/artifact1703792651027.webp"
        },
        "plume": {
            "title": "Wise Doctor's Pinion",
            "piece": "Plume of Death",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792635/FlameForge/artifacts/artifact1703792641671.webp"
        },
        "circlet": {
            "title": "Mocking Mask",
            "piece": "Circlet of Logos",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792625/FlameForge/artifacts/artifact1703792631937.webp"
        },
        "goblet": {
            "title": "Surpassing Cup",
            "piece": "Goblet of Eonothem",
            "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703792613/FlameForge/artifacts/artifact1703792620245.webp"
        }
    }
}</code></pre>
</div>

<div id="fetch-all-artifacts">
<h2 class="font-semibold text-lg text-slate-700 mt-5 mb-2">Fetch All Artifacts</h2>
<div class="bg-teal-100 rounded-md text-teal-700 px-2 py-1 shadow-md inline-flex" role="alert"><p class="text-md font-bold font-mono">GET</p></div>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/artifacts</code></pre>
    
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Song of Days Past",
        "effect": {
            "twoPc": "Healing Bonus +15%.",
            "fourPc": "When the equipping character heals a party member, the Yearning effect will be created for 6s, which records the total amount of healing provided (including overflow healing). When the duration expires, the Yearning effect will be transformed into the \"Waves of Days Past\" effect: When your active party member hits an opponent with a Normal Attack, Charged Attack, Plunging Attack, Elemental Skill, or Elemental Burst, the DMG dealt will be increased by 8% of the total healing amount recorded by the Yearning effect. The \"Waves of Days Past\" effect is removed after it has taken effect 5 times or after 10s. A single instance of the Yearning effect can record up to 15,000 healing, and only a single instance can exist at once, but it can record the healing from multiple equipping characters. Equipping characters on standby can still trigger this effect."
        },
        "fullSet": {
            "flower": {
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703784997/FlameForge/artifacts/artifact1703785002905.webp"
            }
        },
    },
    {
        "name": "Nighttime Whispers in the Echoing Woods",
        "effect": {
            "twoPc": "ATK +18%.",
            "fourPc": "After using an Elemental Skill, gain a 20% Geo DMG Bonus for 10s. While under a shield granted by the Crystallize reaction, the above effect will be increased by 150%, and this additional increase disappears 1s after that shield is lost."
        },
        "fullSet": {
            "flower": {
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703785323/FlameForge/artifacts/artifact1703785329021.webp"
            }
        },
    },
    ...
]</code></pre>
    <p class="text-lg text-slate-700 mt-5">Additional Data:</p>
    <pre class="language-http"><code class="bg-slate-500">http://localhost:4000/api/artifacts?infoSize=full</code></pre>
    <p class="text-lg text-slate-700 mt-5">Payload :</p>
    <pre class="language-json"><code class="bg-slate-500">[
    {
        "name": "Song of Days Past",
        "effect": {
            "twoPc": "Healing Bonus +15%.",
            "fourPc": "When the equipping character heals a party member, the Yearning effect will be created for 6s, which records the total amount of healing provided (including overflow healing). When the duration expires, the Yearning effect will be transformed into the \"Waves of Days Past\" effect: When your active party member hits an opponent with a Normal Attack, Charged Attack, Plunging Attack, Elemental Skill, or Elemental Burst, the DMG dealt will be increased by 8% of the total healing amount recorded by the Yearning effect. The \"Waves of Days Past\" effect is removed after it has taken effect 5 times or after 10s. A single instance of the Yearning effect can record up to 15,000 healing, and only a single instance can exist at once, but it can record the healing from multiple equipping characters. Equipping characters on standby can still trigger this effect."
        },
        "fullSet": {
            "flower": {
                "title": "Forgotten Oath of Days Past",
                "piece": "Flower of Life",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703784997/FlameForge/artifacts/artifact1703785002905.webp"
            },
            "sands": {
                "title": "Echoing Sound From Days Past",
                "piece": "Sands of Eon",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703784973/FlameForge/artifacts/artifact1703784979690.webp"
            },
            "plume": {
                "title": "Recollection of Days Past",
                "piece": "Plume of Death",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703784956/FlameForge/artifacts/artifact1703784962014.webp"
            },
            "circlet": {
                "title": "Poem Passed Down from Days Past",
                "piece": "Circlet of Logos",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703784941/FlameForge/artifacts/artifact1703784947161.webp"
            },
            "goblet": {
                "title": "Promised Dream of Days Past",
                "piece": "Goblet of Eonothem",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703784925/FlameForge/artifacts/artifact1703784931435.webp"
            }
        },
    },
    {
        "name": "Nighttime Whispers in the Echoing Woods",
        "effect": {
            "twoPc": "ATK +18%.",
            "fourPc": "After using an Elemental Skill, gain a 20% Geo DMG Bonus for 10s. While under a shield granted by the Crystallize reaction, the above effect will be increased by 150%, and this additional increase disappears 1s after that shield is lost."
        },
        "fullSet": {
            "flower": {
                "title": "Selfless Floral Accessory",
                "piece": "Flower of Life",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703785323/FlameForge/artifacts/artifact1703785329021.webp"
            },
            "sands": {
                "title": "Faithful Hourglass",
                "piece": "Sands of Eon",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703785302/FlameForge/artifacts/artifact1703785308702.webp"
            },
            "plume": {
                "title": "Honest Quill",
                "piece": "Plume of Death",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703785280/FlameForge/artifacts/artifact1703785286398.webp"
            },
            "circlet": {
                "title": "Compassionate Ladies' Hat",
                "piece": "Circlet of Logos",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703785266/FlameForge/artifacts/artifact1703785272764.webp"
            },
            "goblet": {
                "title": "Magnanimous Ink Bottle",
                "piece": "Goblet of Eonothem",
                "icon": "http://res.cloudinary.com/dusbvc8ox/image/upload/v1703785250/FlameForge/artifacts/artifact1703785256406.webp"
            }
        },
    },
    ...
]</code></pre>
</div>

                </div>
            </div>
        </div>

    </div>
    <script defer src="/js/homepage.js"></script>
</body>

</html>