<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{desc}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div id="alertBoxRegister" class="alertBox text-white bg-teal-500 p-4 rounded-lg transition-all duration-300 z-40"></div>

<div class="font flex w-96 items-center justify-center mx-auto overflow-hidden sidebar-main form-container">

    <form action="/sign-up" method="POST" id="registerForm" class="font-regular poppins flex flex-col p-10 w-11/12 lg:w-full rounded-3xl box-border bg-slate-700 text-white shadow-lg border-e-4 border-l-4 border-teal-400">

        <div class="flex justify-between w-full">
            <div class="flex flex-col mr-1">
                <label for="firstName" class="font-regular text-sm">First Name</label>
                <input type="text" name="firstName" id="firstName" class="w-full p-2 placeholder:opacity-50 border-t-2 border-b-2 bg-slate-700 border-teal-700 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" placeholder="Diluc" required>
            </div>
            <div class="flex flex-col ml-1">
                <label for="lastName" class="font-regular text-sm">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="w-full p-2 placeholder:opacity-50 border-t-2 border-b-2 bg-slate-700 border-teal-700 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" placeholder="Ragnvindr" required>
            </div>
        </div>
        <label for="email" class="font-regular text-sm mt-3">Email</label>
        <input type="email" name="email" id="email" class="p-2 border-t-2 border-b-2 bg-slate-700 border-teal-700 placeholder:opacity-50 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" placeholder="dawnwinery@gmail.com" required>
        <label for="username" class="font-regular text-sm mt-3">Username</label>
        <input type="text" name="username" id="username" class="p-2 border-t-2 border-b-2 bg-slate-700 border-teal-700 placeholder:opacity-50 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" placeholder="pheonix" required>
        <label for="password" class="font-regular text-sm mt-3">Password</label>
        <input type="password" name="password" id="password" class="p-2 border-t-2 border-b-2 bg-slate-700 border-teal-700 placeholder:opacity-50 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" placeholder="jean@123" required>
        <label for="confirmPassword" class="font-regular text-sm mt-3">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="p-2 border-t-2 border-b-2 bg-slate-700 placeholder:opacity-50 border-teal-700 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" placeholder="jean@123" required>
        <button type="submit" class="btn py-3 border-4 rounded-2xl border-teal-400 hover:bg-teal-400 mt-3 font-regular transition-colors ease-linear font-semibold">Sign Up</button>
    </form>
</div>
<script defer src="/js/register.js"></script>
</body>
</html>
