
<label class="myFont my-4 text-lg">Region(s)</label>
<div class="flex justify-center">

    <div class="mondstadt mr-4">
          <input type="checkbox" class="region" name="region" id="mondstadt" value="Mondstadt" {{#if (eq weapon.region "Mondstadt")}}checked{{/if}} hidden >
          <label for="mondstadt" class="flex items-center p-2">
            <img src="/assets/images/Mondstadt.webp" width="35" alt="Mondstadt">
            <p class="mx-1">Mondstadt</p>
          </label>
    </div>

    <div class="liyue mr-4">
          <input type="checkbox" class="region" name="region" id="liyue" value="Liyue" {{#if (eq weapon.region "Liyue")}}checked{{/if}} hidden >
          <label for="liyue" class="flex items-center p-2">
            <img src="/assets/images/Liyue.webp" width="35" alt="Liyue">
            <p class="mx-1">Liyue</p>
          </label>
    </div>

    <div class="inazuma mr-4">
          <input type="checkbox" class="region" name="region" id="inazuma" value="Inazuma" {{#if (eq weapon.region "Inazuma")}}checked{{/if}} hidden >
          <label for="inazuma" class="flex items-center p-2">
            <img src="/assets/images/Inazuma.webp" width="35" alt="Inazuma">
            <p class="mx-1">Inazuma</p>
          </label>
    </div>
    <div class="sumeru mr-4">
          <input type="checkbox" class="region" name="region" id="sumeru" value="Sumeru" {{#if (eq weapon.region "Sumeru")}}checked{{/if}} hidden >
          <label for="sumeru" class="flex items-center p-2">
            <img src="/assets/images/Sumeru.webp" width="35" alt="Sumeru">
            <p class="mx-1">Sumeru</p>
          </label>
    </div>
    <div class="fontaine mr-4">
          <input type="checkbox" class="region" name="region" id="fontaine" value="Fontaine" {{#if (eq weapon.region "Fontaine")}}checked{{/if}} hidden >
          <label for="fontaine" class="flex items-center p-2">
            <img src="/assets/images/Fontaine.webp" width="35" alt="Fontaine">
            <p class="mx-1">Fontaine</p>
          </label>
    </div>


</div>

<label for="weapon" class="myFont my-4 text-lg">Family</label>
        <div class="flex justify-center">

          <div class="polearm mr-4">
          <input type="radio" class="weapon" name="weapon" id="polearm" value="Polearm" {{#if (eq weapon.family "Polearm")}}checked{{/if}} hidden required>
          <label for="polearm" class="flex items-center p-2">
            <img src="/assets/images/Polearm.png" width="35" alt="Polearm">
            <p class="mx-1">Polearm</p>
          </label>
            </div>
          
          <div class="bow mr-4">
          <input type="radio" class="weapon" name="weapon" id="bow" {{#if (eq weapon.family "Bow")}}checked{{/if}} hidden required>
          <label for="bow" class="flex items-center p-2">
            <img src="/assets/images/Bow.png" width="35" alt="Bow">
            <p class="mx-1">Bow</p>
          </label>
          </div>

          <div class="catalyst mr-4">
          <input type="radio" class="weapon" name="weapon" id="catalyst" {{#if (eq weapon.family "Catalyst")}}checked{{/if}} hidden required>
          <label for="catalyst" class="flex items-center p-2">
            <img src="/assets/images/Catalyst.png" width="35" alt="Catalyst">
            <p class="mx-1">Catalyst</p>
          </label>
          </div>

          <div class="claymore mr-4">
          <input type="radio" class="weapon" name="weapon" id="claymore" {{#if (eq weapon.family "Claymore")}}checked{{/if}} hidden required>
          <label for="claymore" class="flex items-center p-2">
            <img src="/assets/images/Claymore.png" width="35" alt="Claymore">
            <p class="mx-1">Claymore</p>
          </label>
          </div>

          <div class="sword mr-4">
          <input type="radio" class="weapon" name="weapon" id="sword" {{#if (eq weapon.family "Sword")}}checked{{/if}} hidden required>
          <label for="sword" class="flex items-center p-2">
            <img src="/assets/images/Sword.png" width="35" alt="Sword">
            <p class="mx-1">Sword</p>
          </label>
          </div>


        </div>