    {{!-- FORM HEAD --}}

<p class="bg-red-400 text-center p-2 my-5 rounded-lg text-slate-800">Important: Making changes to the character data will reflect in the API. Please be cautious when editing.</p>
    <div class="header-container flex items-center">
      {{#if artifact}}
      <div class="icon-card overflow-hidden artifacts rounded-lg box-border m-3 flex justify-center items-center">
        <img width="100px" src="{{artifact.fullSet.flower.icon}}" alt="{{artifact.name}}" />
      </div>
      <div>
        <p class="text-3xl overflow-hidden whitespace-nowrap overflow-ellipsis w-48 sm:w-full mx-2 text-white">{{artifact.name}}</p>
        </div>
      {{/if}}
    </div>
    