<div class="flex w-full justify-between gap-2">

            <div class="flex w-full flex-col items-start">
              <label for="imgProfile" class="myFont mt-3 text-lg">Profile Icon</label>
              <input type="text" name="imgProfile" id="imgProfile" value="{{character.images.profile}}" class="w-full resize-none p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" required />
            </div>

            <div class="flex w-full flex-col items-start">
              <label for="imgCard" class="myFont mt-3 text-lg">Card</label>
              <input type="text" name="imgCard" id="imgCard" value="{{character.images.card}}" class="w-full resize-none p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" required />
            </div>

            <div class="flex w-full flex-col items-start">
              <label for="imgGacha" class="myFont mt-3 text-lg">Gacha Art</label>
              <input type="text" name="imgGacha" id="imgGacha" value="{{character.images.gacha}}" class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300" required />
            </div>

        </div>
            <div class="w-full">
              <label for="wikiUrl" class="myFont mt-3 text-lg">Wiki URL</label>
              <input type="text" name="wikiUrl" id="wikiUrl" value="{{character.wikiUrl}}" class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"> 
            </div>