<div class="img-container flex w-full justify-evenly items-center mt-2">
        <div class="text-center">
          <img src="{{character.images.card}}" width="230" class="rounded-xl" alt="{{character.name}} Card">
          <p class="mt-2 font-semibold">Card</p>
        </div>
        <div class="text-center">
          <img src="{{character.images.gacha}}" width="450" alt="{{character.name}} Gacha Art">
          <p class="mt-2 font-semibold">Gacha</p>
        </div>
      </div>